/* .nav {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border: 1px solid #e7e5e5;
    box-shadow: 2px 2px 3px #6a6767;
    height: 100vh;
    color: #706f78;
    font-size: 16px;
    gap: 0;
    left: 1rem;
    font-weight: 400;
  } */
  /* .nameItem{
    border-top: 1px solid #c4c1c1;
    color: #ffffff;
    padding-top: 0.7rem;
    font-size: 16px;
  } */